package layouts

templ Base(title string, desc string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="description" content={ desc }/>
			<link rel="stylesheet" href="/css/output.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
